<ion-view view-title="About BackwoodsTV" class="dark">
  <ion-content class="dark padding">
  	<div class="logo">
		<img src="img/backwoodstv-logo.png" alt="Backwoods TV: Online Streaming Video" class="center" />
	</div>
	
	<div class="row">
		<div class="col">
			<p>
				We love the Backwoods. From our home range in Ohio and Kentucky, to the wild Canadian bush, and everywhere in between. 
				We live for the Backwoods - and BackwoodsTV gives us the opportunity to share a little bit of our Backwoods with you.
			</p>
			
			<p>
				BackwoodsTV is run by <strong>Team Backwoods</strong>, a production company based in southwestern Ohio. In 2008, Team Backwoods 
				entered the world of television, partnering with <strong>Excalibur Crossbow</strong> and a number of other influential 
				companies in the outdoor industry to produce Excalibur's Huntin' the Backwoods. Every week, Excalibur's Huntin' the Backwoods 
				brings the passion and love for the hunting tradition we all share into living rooms across North America on the Sportsman Channel 
				in the US and Wild TV in Canada.
			</p>
			
			<p>
				BackwoodsTV was launched in 2009 as a community for hunters by hunters. It was established as a place for like-minded 
				sportsmen and women to share their passion for the outdoors and love of the hunting tradition. Since 2009, BackwoodsTV has streamed 
				millions of hunting videos to hunters across the world.
			</p>
			
			<p>
				BackwoodsTV features full-length hunting videos from our television show Excalibur's Huntin' the Backwoods for you to 
				watch on your terms, 24-7. And now the BackwoodsTV app allows you to catch those hunting videos anytime, anywhere.
			</p>
		</div>
	</div>    
  </ion-content>
</ion-view>
